{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "env": {
    //    "es2020": true
  },
  "extends": "standard",
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline"
    }],
    "no-restricted-properties": ["error", {
      "property": "substr",
      "message": "Use String#slice instead."
    }],
    "max-len": [1, 120, 2],
    "spaced-comment": "off",
    "radix": ["error", "always"]
  }
}
