<main class="article">
  <div class="content">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> toc}}

  <div class="content-doc">
    {{> toolbar}}
    {{> article}}
    {{> footer}}
  </div>

{{/if}}
  </div>
</main>
