<main class="article">
  <div class="content">
    {{> toc}}
    <div class="doc-container">
      {{#if (eq page.layout '404')}}
        {{> article-404}}
      {{else}}
        {{> toolbar}}
        {{> article}}
      {{/if}}
      {{> footer}}
      {{> footer-scripts}}
    </div>
  </div>
</main>
