footer.footer {
  border-top: 1px solid var(--toolbar-border-color);
  color: var(--footer-font-color);
  font-size: calc(14 / var(--rem-base) * 1rem);
  margin: 2rem 1rem 0 1rem;
  /* padding: 0 1.5rem; */
}

@media screen and (min-width: 1024px) {
  footer.footer {
    max-width: calc(var(--doc-max-width--desktop) - 2rem);
  }
}

.footer p {
  /* margin: 0.5rem 0; */
}

.footer a {
  color: var(--footer-link-font-color);
}
